/* Custom CSS file */

/*
@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-style: normal;
	font-weight: normal;
}
*/


/* overwriting blockquote in template since font is too big. */
blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 16px;
	border-left: 5px solid #eeeeee;
}

/* Changing aligment */
body {
	/* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
	font-family: FontAwesome, Georgia, serif;
	font-size: 16px;	
	line-height: 1.5;
	color: #555555;
	text-align: justify;

	/* slightly beige tone for background */
	background-color: #ffffef;
}

.navbar {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #1e4054;
	background-image: none;
	/*
	background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
	background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
	background-image: linear-gradient(#5deb54, #2fa4e7 60%, #1d9ce5);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
	*/
	border-bottom: 1px solid #178acc;
	-webkit-filter: none;
	filter: none;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

/* part above article and below title */
.panel {
	background-color: #ffffef;
}

/* box with links right to the article */
.well {
	background-color: #e6e6cc;
}
